<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Update your password</title>
</head>
<body>
    <h1>Update your password</h1>

    <form action="#" th:action="@{/do_update_password}" th:object="${update}" method="post">
        <input type="password" th:field="*{oldPassword}" placeholder="Your old password" /><br />
        <input type="password" th:field="*{newPassword}" placeholder="New password" />
        <input type="password" placeholder="Repeat your password" />

        <input type="submit" value="Update"/>
    </form>
</body>
</html>